{%- assign glossary_key = include.key | default: include.term | strip | downcase -%}
{%- assign glossary_entry = nil -%}

{%- for item in site.data.glossary -%}
  {%- unless glossary_entry -%}
    {%- assign item_slug = item.slug | downcase -%}
    {%- assign item_term = item.term | downcase -%}
    {%- if item_slug == glossary_key or item_term == glossary_key -%}
      {%- assign glossary_entry = item -%}
    {%- else -%}
      {%- for alias in item.aliases -%}
        {%- assign alias_key = alias | downcase -%}
        {%- if alias_key == glossary_key -%}
          {%- assign glossary_entry = item -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endunless -%}
{%- endfor -%}

{%- if glossary_entry -%}
  {%- if include.display -%}
    {%- assign glossary_display = include.display -%}
  {%- elsif glossary_key == glossary_entry.slug -%}
    {%- assign glossary_display = glossary_entry.term -%}
  {%- else -%}
    {%- assign glossary_display = include.key | default: include.term -%}
  {%- endif -%}
  <a href="#" class="glossary-term" tabindex="0" role="button" data-toggle="popover" data-placement="top" title="{{ glossary_entry.term | escape }}" data-glossary-slug="{{ glossary_entry.slug }}">{{ glossary_display }}</a>
{%- else -%}
  {{ include.key | default: include.term }}
{%- endif -%}
